body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f766e, #fb7185);
    font-family: Arial, sans-serif;
}

.music-player {
    width: 350px;
    background: #083344;
    color: #ecfeff;
    padding: 25px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

.album-art {
    width: 200px;
    height: 200px;
    background-image: url("profile.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    margin-bottom: 20px;
}

.song-info p {
    color: #fb7185;
}

.progress-container {
    width: 100%;
    height: 6px;
    background: #155e75;
}

.progress {
    width: 40%;
    height: 100%;
    background: linear-gradient(90deg, #2dd4bf, #fb7185);
}

.controls button {
    background: #155e75;
    color: white;
}
